<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.p2p.camera.mapper.CooperationcenterMapper">
        <resultMap id="BaseResultMap" type="com.sk.p2p.camera.entity.Cooperationcenter">
                <id column="id" property="id" jdbcType="VARCHAR"/>
                <result column="hospitalName" property="hospitalName" jdbcType="VARCHAR"/>
                <result column="supplierName" property="supplierName" jdbcType="VARCHAR"/>
                <result column="herbsName" property="herbsName" jdbcType="VARCHAR"/>
                <result column="cooperationTime" property="cooperationTime" jdbcType="VARCHAR"/>
        </resultMap>

        <select id="selectAll" resultMap="BaseResultMap">
                SELECT * FROM cooperationcenter;
        </select>

        <select id="selectById" resultMap="BaseResultMap">
                SELECT * FROM cooperationcenter t where t.id=#{id,jdbcType=VARCHAR};
        </select>

</mapper>