*log/*
*.md
*.iml
*.eml
*target/
*.jar
*.apk
*.ap_
*.dex
*.class
*/bin/
*/gen/
*/out/
.gradle/
build/
*/build/
gradlew
gradlew.bat
local.properties
proguard/
captures/
*.iml
*/*.iml
gradle/
*/.settings/
*/.DS_Store
.DS_Store
*/.idea/
.idea/
gradlew
gradlew.bat
unused.txt
.idea
*.iml
*.ipr
*.iws
out
.classpath
.project
.settings/

bin/
gen/
local.properties

.DS_Store
Thumbs.db

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
